<a href="https://colab.research.google.com/github/Seenuprime/Data-Analytics/blob/main/Customer_churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [5]:
!kaggle datasets download -d alfathterry/telco-customer-churn-11-1-3

Dataset URL: https://www.kaggle.com/datasets/alfathterry/telco-customer-churn-11-1-3
License(s): MIT
Downloading telco-customer-churn-11-1-3.zip to /content
100% 513k/513k [00:00<00:00, 707kB/s]
100% 513k/513k [00:00<00:00, 706kB/s]

In [7]:
import zipfile

zip_dir = zipfile.ZipFile('/content/telco-customer-churn-11-1-3.zip')
zip_dir.extractall()
zip_dir.close()

In [8]:
df = pd.read_csv('telco.csv')
df.head()

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Country,State,...,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Customer Status,Churn Label,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,Male,78,No,Yes,No,No,0,United States,California,...,20,0.00,59.65,3,Churned,Yes,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,Female,74,No,Yes,Yes,Yes,1,United States,California,...,0,390.80,1024.10,3,Churned,Yes,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,Male,71,No,Yes,No,Yes,3,United States,California,...,0,203.94,1910.88,2,Churned,Yes,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,Female,78,No,Yes,Yes,Yes,1,United States,California,...,0,494.00,2995.07,2,Churned,Yes,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,Female,80,No,Yes,Yes,Yes,1,United States,California,...,0,234.21,3102.36,2,Churned,Yes,67,2793,Price,Extra data charges

In [10]:
df.columns

Index(['Customer ID', 'Gender', 'Age', 'Under 30', 'Senior Citizen', 'Married',
       'Dependents', 'Number of Dependents', 'Country', 'State', 'City',
       'Zip Code', 'Latitude', 'Longitude', 'Population', 'Quarter',
       'Referred a Friend', 'Number of Referrals', 'Tenure in Months', 'Offer',
       'Phone Service', 'Avg Monthly Long Distance Charges', 'Multiple Lines',
       'Internet Service', 'Internet Type', 'Avg Monthly GB Download',
       'Online Security', 'Online Backup', 'Device Protection Plan',
       'Premium Tech Support', 'Streaming TV', 'Streaming Movies',
       'Streaming Music', 'Unlimited Data', 'Contract', 'Paperless Billing',
       'Payment Method', 'Monthly Charge', 'Total Charges', 'Total Refunds',
       'Total Extra Data Charges', 'Total Long Distance Charges',
       'Total Revenue', 'Satisfaction Score', 'Customer Status', 'Churn Label',
       'Churn Score', 'CLTV', 'Churn Category', 'Churn Reason'],
      dtype='object')

In [12]:
df['Phone Service'].head()

0     No
1    Yes
2    Yes
3    Yes
4    Yes
Name: Phone Service, dtype: object

In [24]:
len(df)

7043

In [23]:
df.isna().sum()

Customer ID                             0
Gender                                  0
Age                                     0
Under 30                                0
Senior Citizen                          0
Married                                 0
Dependents                              0
Number of Dependents                    0
Country                                 0
State                                   0
City                                    0
Zip Code                                0
Latitude                                0
Longitude                               0
Population                              0
Quarter                                 0
Referred a Friend                       0
Number of Referrals                     0
Tenure in Months                        0
Offer                                3877
Phone Service                           0
Avg Monthly Long Distance Charges       0
Multiple Lines                          0
Internet Service                        0
Internet Type                        1526
Avg Monthly GB Download                 0
Online Security                         0
Online Backup                           0
Device Protection Plan                  0
Premium Tech Support                    0
Streaming TV                            0
Streaming Movies                        0
Streaming Music                         0
Unlimited Data                          0
Contract                                0
Paperless Billing                       0
Payment Method                          0
Monthly Charge                          0
Total Charges                           0
Total Refunds                           0
Total Extra Data Charges                0
Total Long Distance Charges             0
Total Revenue                           0
Satisfaction Score                      0
Customer Status                         0
Churn Label                             0
Churn Score                             0
CLTV                                    0
Churn Category                       5174
Churn Reason                         5174
dtype: int64

In [21]:
df.State.unique()

array(['California'], dtype=object)

In [18]:
df = df.map(lambda x: 0 if str(x) =='Yes' else 1 if str(x) == 'No' else str(x))

,Customer ID,Gender,Age,Under 30,Senior Citizen,Married,Dependents,Number of Dependents,Country,State,...,Total Extra Data Charges,Total Long Distance Charges,Total Revenue,Satisfaction Score,Customer Status,Churn Label,Churn Score,CLTV,Churn Category,Churn Reason
0,8779-QRDMV,Male,78,1,0,1,1,0,United States,California,...,20,0.0,59.65,3,Churned,0,91,5433,Competitor,Competitor offered more data
1,7495-OOKFY,Female,74,1,0,0,0,1,United States,California,...,0,390.8,1024.1,3,Churned,0,69,5302,Competitor,Competitor made better offer
2,1658-BYGOY,Male,71,1,0,1,0,3,United States,California,...,0,203.94,1910.88,2,Churned,0,81,3179,Competitor,Competitor made better offer
3,4598-XLKNJ,Female,78,1,0,0,0,1,United States,California,...,0,494.00000000000006,2995.07,2,Churned,0,88,5337,Dissatisfaction,Limited range of services
4,4846-WHAFZ,Female,80,1,0,0,0,1,United States,California,...,0,234.21,3102.36,2,Churned,0,67,2793,Price,Extra data charges
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2569-WGERO,Female,30,1,1,1,1,0,United States,California,...,0,1639.44,3039.53,5,Stayed,1,45,5306,nan,nan
7039,6840-RESVB,Male,38,1,1,0,0,2,United States,California,...,0,865.1999999999999,2807.47,3,Stayed,1,59,2140,nan,nan
7040,2234-XADUH,Female,30,1,1,0,0,2,United States,California,...,0,2135.52,9453.04,4,Stayed,1,71,5560,nan,nan
7041,4801-JZAZL,Female,32,1,1,0,0,2,United States,California,...,0,0.0,319.21,4,Stayed,1,59,2793,nan,nan
7042,3186-AJIEK,Male,44,1,1,1,1,0,United States,California,...,0,2043.36,8887.86,4,Stayed,1,38,5097,nan,nan